body{
    width:100%;
    font-family: sans-serif;
    position: relative;
}

#header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(200, 172, 223);
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
}


.logo{
    width: 60px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color:aqua;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: aqua;
    bottom: -4px;
    left: 20px;
    position:absolute;
}

.cartAmount{
    position:absolute;
    font-size: 12px;
    background-color: red;
    color:white;
    border-radius: 3px;
    padding: 1px;
    bottom: 18px;
    right: 12px;
}

.shop{
    display:grid;
    grid-template-columns: repeat(4, 400px);
    justify-content: center;
}

#product{
    text-align: center;
}

#product .product1{
    width: 20rem;
    min-width: 20rem;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product .product1:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product .product1 img{
    width: 100%;
    border-radius: 20px;
}